@import './initialConfig.css';
@imporr './fontsUrl.css';

body h2 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  margin: 18px 0px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section aside {
  flex-basis: 33.33%;
  text-align: center;
  margin: 15px 0px;
}

section aside h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: #820263a8;
  font-size: 1.6em;
}

section aside p {
  font-family: 'Ubuntu', sans-serif;
}