@import 'fontsUrl.css';
@import 'initialConfig.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 75%;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 1.7em;
  color: var(--burgundy);
}

.container p {
  font-size: 1.3em;
  padding: 0px 20px;
  color: var(--pink-shock);
}

/* Media queries para diferentes tamanhos de tela */

@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }
  
  .container h2 {
    font-size: 1.5em;
  }
  
  .container p {
    font-size: 1.2em;
  }
  
  .container input {
    padding: 8px 20px;
    font-size: 1em;
  }
}
body #shape-tl {
  position: absolute;
  top:0;
  left:0;
  transform: translate(-40%, -55%);
  width: 650px;
  height: 650px;
}body #shape-br {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 650px;
  height: 650px;
  transform: translate(25%, 68%);
}