section.form input[type="number"] {
  padding: 13px;
  border-radius: 25px;
  outline: none;
  max-width: 50px;
  text-align: center;
}

section input[type="button"] {
  padding: 10px 15px;
  font-size: 1em;
}