@import 'initialConfig.css';
@import 'fontsUrl.css';

body, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, p, input {
  color: var(--burgundy);
}

h1, p {
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;
}

section {
  gap: 38px;
  max-width: 75%;
}

section img {
  width: 124px
}

section h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3em;
}

section p {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.2em;
  max-width: 75%;
}

section input[type="text"] {
  border: 2px solid var(--burgundy);
  padding: 12px 20px;
  border-radius: 25px;
  color: var(--burgundy);
  outline: none;
  width: 75%;
}

section input::placeholder {
  color: var(--burgundy);
}