@import '../../../styles/fontsUrl.css';
@import '../../../stles/initialConfig.css';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title img {
  width: 120px;
}

.title h2 {
  font-size: 3em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: var(--burgundy);
}

.container .content {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.content p {
  font-size: 1.3em;
  color: var(--burgundy);
  font-weight: 600;
  text-align: center;
  max-width: 75%;
}

.content input[type="number"] {
  padding: 15px;
  max-width: 80px;
  border: 2px solid var(--burgundy);
  border-radius: 25px;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: var(--burgundy);
}