@import '../../styles/initialConfig.css';
@import '../../styles/fontsUrl.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}

article {
  background-color: #04A777;
  padding: 30px 40px;
  width: 90%;
  border-radius: 20px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 18px
}

article h2 {
  font-size: 1.6em
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside {
  width: 75%;
  margin: 10px 0px;
  background-color: rgba(0, 0, 0, 0.18);
  padding: 22px 30px;
  border-radius: 20px;
}

aside h3 {
  font-size: 1.5em;
  margin-bottom: 12px;
}



