@import './initialConfig.css';
@import './fontsUrl.css';

aside {
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
}

aside > section.title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 25px;
  border-radius: 40px;
  background-color: var(--burgundy);
  position: absolute;
  transform: translate(25px, -27px);
}

aside > section.title h3 {
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
}

aside > section.content {
  background-color: var(--pink-shock);
  color: #fff;
  padding: 20px 20px 20px 106px;
  max-width: 80%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

main {
  padding: 0px 60px 150px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section.header {
  display: flex;
  align-items: center;
  gap: 20px
}

section.header h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

section.morning h2,
section.morning input {
  color: var(--burnt-orange);
}

section.afternoon h2,
section.afternoon input {
  color: var(--pink-shock);
}

section.night h2,
section.night input {
  color: var(--burgundy);
}

section.header img {
  width: 60px;
}

main input[type="text"] {
  border: none;
  border-bottom: 1px solid #000;
  width: 70%;
  background-color: transparent;
  outline: none;
}

main form {
  padding: 10px 0px;
  display: flex;
  gap: 17px
}

main input[type="button"] {
  background-color: transparent;
  border: none;
}

ul {
  list-style-position: inside;
  max-width: 70%;
}

ul li,
ul div {
  font-family: 'Ubuntu', sans-serif;
}

ul div {
  display: flex;
  justify-content: space-between;
}